md-sidenav-layout {
    padding: 20px;
    background: transparent;
}

md-card {
    max-width: 380px;
    margin: 10px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('https://getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

body {
  padding: 20px;
  background: #fafafa;
  position: relative;
}